@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$H1:27px;
$H2:24px;
$H3:21px;
$H4:19px;
$H5:17px;
$H6:15px;
$bg:rgb(242, 248, 247, 100%);
$bg01:rgb(0, 170, 161, 100%);
$bgheader:#e8f3f3;
$bgInput:rgb(223, 241, 240, 100%);
$ff:'Noto Sans', cursive;
$color1:rgb(85, 85, 85, 100%);
$color2: rgb(119, 119, 199, 100%);
$color3:#fff;
$color4:#222;
$fs10:12px;
$fs20:14px;
$fs30:15px;
$fs40:17px;
$fs50:19px;
